# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Folders 
extras/

# Distribution / packaging
.Python
build/
MANIFEST

# Jupyter Notebook
*.ipynb
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
